In [1]:
from _model.myModel import *
from _preprocessing.addFeatures import *

import pandas as pd
import copy

from itertools import product

dataPATH = './Data/raw-TWWI-2011To2021.csv'

LR = logReturn()

rawDF = pd.read_csv(dataPATH)
windows = 5

## **Preprocessing**
### **Transform to Log-Return**

In [2]:
LR.fit(df=rawDF['發行量加權股價指數'], windows=windows)

In [122]:
LR.lr[:10] # Log-Return

0         NaN
1   -0.003119
2   -0.016912
3    0.004163
4   -0.011377
5    0.003995
6    0.012787
7    0.003759
8    0.001179
9   -0.000342
Name: 發行量加權股價指數, dtype: float64

## **Rolling-window**

In [123]:
LR.rollingX # Rolling-window Log-Return Input Features

array([[        nan, -0.00311944, -0.01691188,  0.00416256, -0.01137682],
       [-0.00311944, -0.01691188,  0.00416256, -0.01137682,  0.00399532],
       [-0.01691188,  0.00416256, -0.01137682,  0.00399532,  0.0127872 ],
       ...,
       [-0.00011055, -0.02052372,  0.0089637 ,  0.01059873,  0.00309944],
       [-0.02052372,  0.0089637 ,  0.01059873,  0.00309944, -0.00767241],
       [ 0.0089637 ,  0.01059873,  0.00309944, -0.00767241, -0.01915509]])

In [124]:
LR.rollingY # Rolling-window Log-Return Target

array([ 0.00399532,  0.0127872 ,  0.00375943, ..., -0.00767241,
       -0.01915509,  0.00469426])

In [125]:
LR.rollingX.shape, LR.rollingY.shape, LR.lr.shape

((2634, 5), (2634,), (2639,))

## **Backward to Price/Index**

In [127]:
pd.DataFrame(
    
    {
        
        'y_true': rawDF['發行量加權股價指數'][windows:],
        'y_back': LR.backwardR(logR=LR.rollingY, pred=True)
        
    }

)

        y_true    y_back
5      8817.88       NaN
6      8931.36   8931.36
7      8965.00   8965.00
8      8975.58   8975.58
9      8972.51   8972.51
...        ...       ...
2634  17260.19  17260.19
2635  17313.77  17313.77
2636  17181.44  17181.44
2637  16855.46  16855.46
2638  16934.77  16934.77

[2634 rows x 2 columns]